################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.config
/backend/.vs
**/obj
**/bin
*.sqbpro
*.user
/backend/SubclassesTracker.AspireHost/appsettings.Production.json
/backend/SubclassesTracker.AspireHost/NuGet.config
/backend/SubclassesTracker.AspireHost/aspire-output/.env.Production
