###############################################################################
#  Visual Studio Rider  IDE-files, build cache #
###############################################################################
.config/
.vs/
.idea/  
*.suo 
*.user
*.userosscache
*.sln.docstates
*.rsuser 

################################
#          Build artifacts #
################################
[Bb]in/                      # bin, Bin, BIN
[Oo]bj/                      # obj, Obj
[Dd]ebug*/                   # Debug, Debug_net6, DebugPubli
[Rr]elease*/                 # Release, Release_net
build/                       # custom dir build
bld/
bin/
obj/
x64/
x86/
ipch/                        # pre-compiled headers (C++/CLI)

################################
#        NuGet packet cache   #
################################
*.nupkg
*.snupkg
packages/
.nuget/                      # cache NuGet
!packages/build/             #

################################
#        Artefacts      #
################################
TestResults/
*.coverage
*.coveragexml
*.trx                        # vstest

################################
#  Logs and temp data    #
################################
*.log
*.tlog
*.diff
*.orig
*.tmp
*.bak
*_i.c
*_p.c
*.Cache/                     # ASP.NET / MSBuild Incremental Build
*~ 
Saves/
Save/

################################
#  Config and secrets     #
################################
secrets.json 
*.key
*.pfx

################################
#        doc build    #
################################
docfx_project/_site/
docfx_project/_exported/
*.docfx

################################
#     VS Code    #
################################
.vscode/                     # vscode
!/.vscode/tasks.json         # vscode cache
!/.vscode/launch.json        # 

###############################################################################
/Save/lines.xlsx
node_modules/
