DO $$
DECLARE
    u text := '${UserName}';
    p text := '${UserPassword}';
BEGIN
    IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = u) THEN
        EXECUTE format(
            'CREATE ROLE %I WITH LOGIN PASSWORD %L',
            u, p
        );
    END IF;
END $$;