name: Build and Deploy Backend (Docker + Aspire Compose)

on:
  workflow_dispatch:
  push:
    tags:
      - 'backend-release-*'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # API
      - name: Publish API container
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          dotnet publish SubclassesTracker.Api/SubclassesTracker.Api.csproj \
            -c Release \
            -p:PublishProfile=DefaultContainer \
            -p:ContainerImageTag=${{ github.ref_name }}

          docker tag api:${{ github.ref_name }} ghcr.io/$OWNER/subclasses-api:${{ github.ref_name }}
          docker push ghcr.io/$OWNER/subclasses-api:${{ github.ref_name }}

      # Cleaner
      - name: Publish Cleaner container
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          dotnet publish SubclassesTracker.CleanupService/SubclassesTracker.CleanupService.csproj \
            -c Release \
            -p:PublishProfile=DefaultContainer \
            -p:ContainerImageTag=${{ github.ref_name }}

          docker tag cleaner:${{ github.ref_name }} ghcr.io/$OWNER/subclasses-cleaner:${{ github.ref_name }}
          docker push ghcr.io/$OWNER/subclasses-cleaner:${{ github.ref_name }}

      - name: Upload docker compose file
        uses: actions/upload-artifact@v4
        with:
          name: aspire-compose
          path: backend/SubclassesTracker.AspireHost/aspire-output/docker-compose.yaml

  deploy:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Download compose
        uses: actions/download-artifact@v4
        with:
          name: aspire-compose
          path: backend/compose

      # Upload only the docker-compose itself
      - name: Upload docker compose to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.YOKO_HOST }}
          username: ${{ secrets.YOKO_USER }}
          key: ${{ secrets.YOKO_KEY }}
          source: "backend/compose/docker-compose.yaml"
          target: ${{ secrets.YOKO_COMPOSE_TARGET }}
          strip_components: 2
          rm: true

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.YOKO_HOST }}
          username: ${{ secrets.YOKO_USER }}
          key: ${{ secrets.YOKO_KEY }}
          script: |
            cd ${{ secrets.YOKO_COMPOSE_TARGET }}
            OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')

            echo "Create .env..."

            cat > .env <<EOF
            API_IMAGE=ghcr.io/$OWNER/subclasses-api:${{ github.ref_name }}
            CLEANER_IMAGE=ghcr.io/$OWNER/subclasses-cleaner:${{ github.ref_name }}
            
            DEFAULTUSER=${{ secrets.DEFAULTUSER }}
            DEFAULTPASS=${{ secrets.DEFAULTPASS }}
            
            API_PORT=${{ secrets.API_PORT }}
            CONNSTRING=${{ secrets.CONNSTRING }}
            DEFAULTCONNSTRING=${{ secrets.DEFAULTCONNSTRING }}
            EOF

            echo ".env created:"
            cat .env

            
            docker compose --env-file .env pull
            docker compose --env-file .env up -d --remove-orphans

            echo "Prune..."
            docker container prune -f
            docker image prune -f
            docker system df

            docker ps
